/* Write your code here: */
/*Group*/
h1, h2 {
    color: blueviolet;
}
/*Child*/
.box  > p{
    color: firebrick;
}
/*เว้นวรรค*/
.box li{
    color: blue;
}
/*Chaining*/
li.done {
    color: seagreen;
}
/*Combining*/
ul p.done{
    font-size: 0.5rem;
}